/* MENU STYLING */
#menu {
  display: none;
}

/* Show menu when it has a "show" class applied to it */
#menu.show {
  display: flex; /* display: block; */
}

@media only screen and (min-width: 600px) {
  /* Hide menu toggle on desktop */
  #menu-toggle {
    /* display: none; */
  }

  /* Show menu on desktop */
  #menu {
    display: none; /* display: block; */
  }
}

/*
  "no-js" styling for when JavaScript is NOT running in the browser
  Hide the menu toggle and show the menu
*/

.no-js #menu-toggle {
  display: none;
}

.no-js #menu {
  display: flex;
}

/*  OPTIONAL STYLING   */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

h2 {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

h3 {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 18px;
  font-weight: 300;
  background-color: #ff690c;
  margin: 27px 0 27px 10px;
  padding-left: 1.3em;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #fff;
}

.site-wrapper {
  max-width: 1000px;
}

header {
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #00aced;
}

.view-cart {
  margin-right: 0.5em;
}

.view-cart__link {
  cursor: pointer;
}

.view-cart__text {
  margin-left: 0.6em;
}

.view-cart__items {
  padding: 0.3em 0.8em;
  border-radius: 20px;
  font-size: 13px;
  background-color: #0092ca;
}

.login {
  display: none;
}

.menu__toggle {
  margin-left: 0.3em;
  padding: 0.4em 0.8em;
  border: none;
  font-size: 14px;
  background-color: #00aced;
  color: #fff;
}

.menu__items {
  position: absolute;
  left: 0px;
  top: 40px;
  display: flex;
  width: 100%;
  padding: 0 2em 2em 0;
  flex-direction: column;
  background-color: #00aced;
  list-style: none;
}

.menu__item,
.menu__item-login {
  margin: 0.4em 0 0.4em 2.6em;
  color: #fff;
}

.menu__link {
  margin-left: 1em;
}

.menu__divider {
  width: 100%;
  height: 1px;
  margin-top: 0.6em;
  background-color: #6ed2f7;
}

.slideshow {
  display: none;
}

@media only screen and (min-width: 700px) {
  .menu__toggle {
    display: none;
  }

  #menu {
    display: flex;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }

  .menu__items {
    position: revert;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }

  .menu ul li i {
    display: none;
  }

  .menu__item {
    margin: 0em;
  }

  .menu__item-login {
    display: none;
  }

  .menu__link {
    font-size: 14px;
  }

  .menu__divider {
    display: none;
  }

  .login {
    display: flex;
    color: #fff;
    margin-right: 1em;
  }

  .login i {
    margin-right: 0.5em;
    color: #fff;
  }

  .view-cart {
    white-space: nowrap;
  }
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
}

#sw-logo {
  max-width: 90%;
  height: auto;
  margin: 1em 1em 1em 1em;
}

#search-text {
  height: 40px;
  width: 230px;
  text-align: left;
  padding-left: 1.5em;
  border-radius: 20px;
  border: 1px solid black;
  color: #0000008c;
  font-size: 16px;
  font-weight: 300;
}

#submit {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #002936;
  color: #fff;
  border: none;
}

.product-category-menu {
  display: flex;
  background-color: #002936;
  margin-top: 15px;
  padding: 0.3em 0 0.3em 0;
}

.product-category-menu__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  list-style: none;
}

.product-category-menu__item,
.product-category-menu__item-active {
  width: 150px;
  margin: 0.3em;
  padding: 0.2em 0.4em;
  border: 1px #00aced solid;
  border-radius: 0.2em;
}
.product-category-menu__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
}

.product-category-menu__link-name {
}

@media only screen and (min-width: 700px) {
  .product-category-menu {
    height: 60px;
    margin-left: 0.8em;
    padding-left: 2em;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .product-category-menu__item {
    width: auto;
    border: none;
  }

  .product-category-menu__item-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    border: none;
    background-color: #00aced;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .fa-angle-right {
    display: none;
  }

  .slideshow {
    display: flex;
    margin: 1em 5em 1em 1em;
  }

  .slideshow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .slideshow__overlay {
    position: absolute;
    right: 0px;
    background-color: #00aced;
    /* height: 100%; */
    height: max-content;
  }
}

.fa-angle-right {
  color: #00aced;
}

.featured-products {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.featured-products__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.featured-products__item {
  flex-shrink: 0;
  flex-basis: 140px;
  margin: 0.5em;
}

.featured-products__link {
}

.featured-products__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product {
}

.product__photoframe {
  width: 145px;
}

.product__photoframe img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.product__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  color: #595959;
}

.product__discounted {
  color: #ff690c;
}

.product__was {
  font-size: 11px;
  color: #595959;
}

.product__original-price-discounted {
  color: #595959;
  text-decoration: line-through;
}

.product__description {
  color: #006989;
  text-align: center;
}

.brands {
  font-size: 16px;
  font-weight: 300;
}

.brands__description {
  margin-left: 0.5em;
}

.brands__boast {
  color: #00aced;
}

.brands__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #002936;
  margin: 20px 0 20px 0;
  list-style: none;
}

.brands__item {
  margin: 1em;
}

.brands__item-photoframe {
  width: 70px;
  height: auto;
}

.brands__item-photoframe img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.footer-nav {
  padding: 1em;
  background-color: #00aced;
}

.footer-nav__items {
  position: relative;
  margin: 5px;
  list-style: none;
  padding-left: 0.6em;
  font-size: 14px;
  font-weight: 400;
}

.footer-nav__item {
  margin: 0.5em;
  background-image: url("../assets/images/bullet.png");
  background-repeat: no-repeat;
  line-height: 6px;
  margin: 10px;
}

.footer-nav__link {
  margin-left: 20px;
}

.category-nav {
  display: none;
  background-color: #ff690c;
  color: #fff;
}

@media only screen and (min-width: 500px) {
  .footer-nav-category-nav-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer-nav {
    grid-column: 1;
  }

  .category-nav {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #ff690c;
    color: #fff;
  }

  .contact {
    grid-column: span 2;
  }
}

.category-nav__items {
  margin: 5px;
  list-style: none;
}

.category-nav__item,
.category-nav__item-active {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("../assets/images/bullet.png");
  background-repeat: no-repeat;
  line-height: 6px;
  margin: 10px;
}

.category-nav__link {
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
}

.contact {
  background-color: #00aced;
  padding-bottom: 40px;
}

.contact h2 {
  margin-left: 0.5em;
  border: none;
}

.contact__items {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 1em 0 0 0;
}

.contact__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 1px solid #fff;
  margin: 0.9em;
}

.contact__link {
  font-size: 44px;
}

.contact__items li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  color: #fff;
}
.contact__type {
  display: none;
}

.site-footer {
  margin: 22px 0 40px 0;
}

.site-footer p {
  font-size: 12px;
  text-align: center;
}
